<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--O link do BootStrap esta dentro do index.html assim como o link do Java Script-->
</head>
<body>
  <nav>
    <nav><!--Nas <div> estou usano o Bootstrap-->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <!--Usei po <button> so pra criar uma especie de aba para a tabela mas é aba unica-->
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Lista de alunos</button>
      </div>
    </nav>
  </nav>
  
  <div class="container tab-content" id="nav-tabContent"><h2>Agenda</h2>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <table class="table table-striped table-hover">
            <thead>
              <tr>
                <!--Usei as duas chaves para chamar o parametro que esta no component.ts neste caso para titulo, dado1, dado2, dado3-->
                <th *ngFor="let titulo of titulos" >{{ titulo }}</th>
              </tr>
            </thead>
        <tbody>
          <tr>
            <td *ngFor="let dado1 of user1">{{dado1}}</td>
          </tr>
          <tr>
            <td *ngFor="let dado2 of user2">{{dado2}}</td>
          </tr>
          <tr>
            <td *ngFor="let dado3 of user3">{{dado3}}</td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
</body>
</html>
 